@{
  Layout = "_Layout";
}

@using System.Security.Claims
<div class="mainBox">
    <h2>User Accounts</h2>
    <hr />
    @if (User.Identity.IsAuthenticated)
    {
        <h3>Logged in as @User.Identity.Name</h3>
        @using (Html.BeginForm("LogOff", "Account"))
        {
            <input type="submit" class="btn btn-default" value="Log out" />
        }
    }
    else
    {
        <p>@Html.ActionLink("Register", "Register", null, null,  new { @class = "btn btn-info btn-sm" })</p>
        <p>@Html.ActionLink("Log in", "Login", null, null,  new { @class = "btn btn-info btn-sm" })</p>
    }
    <hr />
    <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>