<div id="header">
  <ul id="headerList">
    <li id="headerUl">@Html.ActionLink("Flavor Manager", "Index", "Flavors")</li>
    <li id="headerUl">@Html.ActionLink("Treat Manager", "Index", "Treats")</li>  
    
    <li id="headerUl">@Html.ActionLink("Accounts", "Index", "Account")</li> 
    <a href="@Url.Action("", "/")">
    <li id="homeImageUl"><img id="imageHome" src="~/img/HomeBtn.png"></a></li>
  </ul>
</div>