@{
  Layout = "_Layout";
}

@model Treats.Models.Treat

<div class="mainBox">
  <h2>Are you sure you want to delete Treat <strong>@Html.DisplayFor(model => model.TreatName)</strong>?</h2>
  <hr />  
  @using (Html.BeginForm())
  {
      <input type="submit" value="Delete!" class="delete" />
  }
  @Html.ActionLink("Back to Treats", "Index",null,null, new { @class = "btn btn-info btn-large" })
</div>